@use 'base/variables' as v;
@use 'base/mixins' as m;

.agenda {
    padding: 5rem 0;
    @include m.contenedor;
}

.eventos {
    $modificador: &;

    &__heading {
        color: v.$azul;
        margin: 5rem 0;
        text-align: left;
        @include m.texto-fluido(2rem, 6rem);

    }

    &__fecha {
        color: v.$gris;
        margin: 3rem 0 1rem 0;
    }

    &--workshops {
        #{$modificador}__heading {
            color: v.$secundario;
        }
    }
}