@use 'base/variables' as v;
@use 'base/mixins' as m;

@media (prefers-color-scheme:dark) {
    $grisOscuro: #2c2c3b;

    body {
        background-color: $grisOscuro;
    }

    .tagline {
        color: v.$blanco;
    }
}