@use 'base/variables' as v;
@use 'base/mixins' as m;

@media (prefers-color-scheme:dark) {
    $grisOscuro: #2c2c3b;

    body {
        background-color: $grisOscuro;
    }

    .tagline,
    .formulario label,
    .login .acciones a,
    .crear .acciones a,
    .olvidaPassword .acciones a {
        color: v.$blanco;
    }

    .descripcion-pagina,
    .formulario .campo input {
        color: darken(v.$grisClaro, 15%);
    }

    .formulario .campo input {
        background-color: lighten($grisOscuro, 25%);

        &::placeholder {
            color: darken(v.$grisClaro, 30%);
        }
    }

    .alerta.error {
        background-color: v.$blanco;
    }
}