:root {
  --dark-moss-green: #606c38ff;
  --pakistan-green: #283618ff;
  --cornsilk: #fefae0ff;
  --earth-yellow: #dda15eff;
  --tigers-eye: #bc6c25ff;
}

.header {
  background-color: var(--dark-moss-green);
  margin-top: 2rem;
  padding: 1rem 0;
}

.header__contenido {
  color: white;
  text-align: center;
  text-transform: uppercase;
}

.footer {
  background-color: var(--dark-moss-green);
  margin-top: 2rem;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer__contenido {
  text-decoration: none;
  color: white;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 600;
}
