:root {
  --dark-moss-green: #606c38ff;
  --pakistan-green: #283618ff;
  --cornsilk: #fefae0ff;
  --earth-yellow: #dda15eff;
  --tigers-eye: #bc6c25ff;
}
/*Globales*/
html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

h1,
h2,
h3 {
  text-align: center;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.4rem;
}
p {
  font-size: 1.8rem;
}
/*Fin Globales*/

/*Header*/
.header {
  background-color: var(--dark-moss-green);
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: white;
  padding: 1rem 0;
}

.header__contenido {
  color: white;
  text-align: center;
  text-transform: uppercase;
}
/*Fin Header*/

/*Main*/
.main {
  font-family: "Cabin", sans-serif;
  background-image: linear-gradient(
    to top,
    var(--cornsilk) 0%,
    var(--earth-yellow) 100%
  );
}
/*Fin main*/

/*Patrones*/
.patrones {
  display: grid;
  gap: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
@media (min-width: 768px) {
  .patrones {
    grid-template-columns: repeat(2, 1fr);
  }
}

.patron {
  background-color: var(--pakistan-green);
  color: white;
  padding: 1rem;
}

.patron__contenido {
  display: flex;
  flex-direction: row;
  column-gap: 2rem;
}

.patron__titulo {
  text-align: center;
}
.patron__contenido {
  justify-content: center;
  text-align: center;
  text-decoration: none;
}
.patron__layout a p {
  color: white;
}
/*Fin Patrones*/
.footer {
  background-color: var(--dark-moss-green);
  margin-top: 2rem;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.footer__contenido {
  text-decoration: none;
  color: white;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
}
