@use "base/variables" as v;
@use "base/mixins" as m;

.dark-mode {
  background-color: darken(v.$grisOscuro, 10);

  p {
    color: v.$blanco;
  }

  a,
  h1,
  h2,
  h3,
  h4 {
    color: v.$gris;
  }

  .anuncio,
  .resumen-propiedas {
    background-color: v.$grisOscuro;
    border: 1px solid v.$grisOscuro;

    .precio {
      color: v.$verde;
    }
    .icono {
      filter: invert(100%);
    }
  }
  .texto-nosotros blockquote {
    color: v.$blanco;
  }

  .formulario {
    label,
    legend,
    p {
      color: v.$gris;
    }

    input:not([type="submit"]),
    textarea,
    select {
      background-color: v.$grisOscuro;
      border: 1px solid v.$grisOscuro;
      color: v.$blanco;
    }
  }
}
