:root {
  --charcoal: #264653ff;
  --persian-green: #2a9d8fff;
  --saffron: #e9c46aff;
  --sandy-brown: #f4a261ff;
  --burnt-sienna: #e76f51ff;
}

html {
  font-size: 62.5%;
}
body {
  font-size: 16px;
  font-family: "Anuphan", sans-serif;
}
.titulo {
  text-align: center;
  font-size: 3.8rem;
}
.titulo span {
  font-size: 2rem;
}

.contenedor {
  width: 120rem;
  margin: 0 auto 0 auto;
}

.nav-bg {
  background-color: var(--charcoal);
}

.navegacion-principal {
  display: flex;
  justify-content: space-between;
}

.navegacion-principal a {
  color: white;
  padding: 1rem;
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
}

.navegacion-principal a:hover {
  color: black;
  background-color: var(--sandy-brown);
}
