:root {
  --azul: #a3e7fc;
  --esmeralda: #26c485;
  --cyan_oscuro: #32908f;
  --berenjena: #553a41;
  --black_bean: #2f0601;
}

html {
  font-size: 62.5%;
}
body {
  font-size: 16px;
  font-family: "Anuphan", sans-serif;
}
.titulo {
  text-align: center;
  font-size: 3.8rem;
}
.titulo span {
  font-size: 2rem;
  color: var(--cyan_oscuro);
}
