:root {
  --charcoal: #264653ff;
  --persian-green: #2a9d8fff;
  --saffron: #e9c46aff;
  --sandy-brown: #f4a261ff;
  --burnt-sienna: #e76f51ff;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 16px;
  font-family: "Anuphan", sans-serif;
}
.titulo {
  text-align: center;
  font-size: 3.8rem;
}
.titulo span {
  font-size: 2rem;
}

.contenedor {
  max-width: 120rem;
  margin: 0 auto;
}

.nav-bg {
  background-color: var(--charcoal);
}

.navegacion-principal {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .navegacion-principal {
    flex-direction: row;
    justify-content: space-between;
  }
}

.navegacion-principal a {
  display: block;
  text-align: center;
  color: white;
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem;
}

.navegacion-principal a:hover {
  color: black;
  background-color: var(--sandy-brown);
}

.hero {
  background-image: url("../img/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
