@use "base/variables" as v;
@use "base/mixins" as m;

.footer {
  padding: v.$separacion;
  background-color: v.$grisOscuro;
  .contenedor-footer {
    padding-top: calc(v.$separacion / 2);
  }
  .copyright {
    color: v.$blanco;
    text-align: center;
  }
}
