@use "base/variables" as v;
@use "base/mixins" as m;

.footer {
  padding: v.$separacion;
  background-color: v.$grisOscuro;
  margin-bottom: 0;
  .contenedor-footer {
    padding-top: calc(v.$separacion / 2);
  }

  .navegacion {
    visibility: visible;
    opacity: 1;
    height: auto;
  }

  .copyright {
    color: v.$blanco;
    text-align: center;
  }
}
