@use 'base/variables' as v;
@use 'base/mixins' as m;

.sidebar {
    opacity: 0;
    height: 0;
    background-color: v.$indigo;
    transition-property: opacity;
    transition-duration: 500ms;
    transition-timing-function: linear;

    @include m.tablet {
        opacity: 1;
        height: 100%;
        padding: 2rem;
    }


    &.mostrar {
        padding: 2rem;
        opacity: 1;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba($color: v.$indigo, $alpha: 0.95);
    }

    &.ocultar {
        opacity: 0;
        height: 0;
    }

    .contenedor-sidebar {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h2 {
            color: v.$blanco;
            margin: 0;
            text-align: center;
        }

        .cerrar-menu {
            display: flex;
            justify-content: center;
            height: 2rem;
            width: 2rem;

            img {
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }


    .sidebar-nav {
        margin-top: 5rem;

        a {
            display: block;
            color: v.$blanco;
            margin-bottom: 1.5rem;
            padding: .7rem;
            transition-property: background-color;
            transition-duration: 300ms;

            &:hover,
            &.activo {
                background-color: darken($color: v.$indigo, $amount: 20%);
                border-radius: .5rem;
            }
        }
    }
}