@use 'base/variables' as v;
@use 'base/mixins' as m;

.crear {
    .uptask {
        background: linear-gradient(to right, v.$cyan 0%, lighten(v.$cyan, 30%) 100%);
        color: transparent;
        text-align: center;
        background-clip: text;
        font-size: 7rem;

        @include m.tablet {
            font-size: 10rem;
        }
    }

    input[type='submit'] {
        @include m.boton(v.$cyan, v.$blanco);
    }

    .acciones {
        color: v.$cyan;
    }
}