/*Variables de color y fuente*/
:root {
  --caribbean-current: #006d77ff;
  --tiffany-blue: #83c5beff;
  --alice-blue: #edf6f9ff;
  --pale-dogwood: #ffddd2ff;
  --atomic-tangerine: #e29578ff;
  --fuente_principal: "Chivo Mono", monospace;
}
/* INICIO GLOBALES*/
html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: var(--caribbean-current);
  font-size: 1.6rem;
  line-height: 1.5;
  font-family: var(--fuente_principal);
}

p {
  font-size: 1.8rem;
  color: white;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}

.contenedor {
  max-width: 120rem;
  margin: 0 auto;
}

h1,
h2,
h3 {
  text-align: center;
  color: var(--pale-dogwood);
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.4rem;
}
/*FIN GLOBALES*/

/*header*/
.header {
  display: flex;
  justify-content: center;
}

.header__logo {
  margin: 3rem 0;
}
/*Fin header*/

/*navbar*/
.navbar {
  background-color: var(--atomic-tangerine);
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.navbar__enlace {
  font-size: 2rem;
  color: var(--caribbean-current);
  text-transform: uppercase;
}

.navbar__enlace--actual,
.navbar__enlace:hover {
  color: var(--pale-dogwood);
}
/*Fin navbar*/

/*Footer*/
.footer {
  background-color: var(--atomic-tangerine);
  padding: 1rem 0;
  margin-top: 2rem;
}

.footer__texto {
  text-align: center;
  text-transform: uppercase;
}
/*Fin footer*/

/*Producto*/
.producto {
}

.producto__imagen {
}

.producto__nombre {
}

.producto__precio {
}
