@use "base/variables" as v;
@use "base/mixins" as m;

.video {
  position: relative;
  .overlay {
    position: absolute;
    background: rgb(146, 0, 244);
    background: linear-gradient(
      255deg,
      rgba(146, 0, 244, 0.4850533963585434) 0%,
      rgba(98, 64, 218, 0) 53%,
      rgba(0, 1, 255, 0.4850533963585434) 100%
    );
    height: 100%;
    width: 100%;
  }
  video {
    width: 100%;
    display: block;
  }
}
