@use 'base/mixins' as m;
@use 'base/variables' as v;

.formulario {
    margin-top: v.$separacion;
    width: 100%;
}

.campo {
    display: flex;
    margin-bottom: 2rem;
    align-items: center;

    label {
        flex: 0 0 12rem;
    }

    input {
        flex: 1;
        border: none;
        padding: calc(v.$separacion / 4);
        border-radius: 1rem;
    }
}